body {
    background: #f9f9f9;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

h1 {
    font-weight: 300;
    color: #444;
}

a {
    color: #006dac;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

* {
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.grid-item {
    width: 20%;
    width: calc(20% - 1rem);
    background: #fff;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 1.5rem 0.5rem;
    box-shadow: 0 0.5rem 0.5rem #eee;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #777;
    line-height: 1.2;
}

.grid-item--details {
    margin-top: 0.5rem;
}

@media (max-width: 800px) {
    .grid-item {
        width: 50%;
        width: calc(50% - 1rem);
    }
}

@media (max-width: 400px) {
    .grid-item {
        width: 100%;
        width: calc(100% - 1rem);
    }
}

img {
    width: 100%;
    max-width: 100%;
}

p:last-child {
    margin-bottom: 0;
}
